:root {
    /* Backgrounds */
    --ddbm: hsl(222, 26%, 31%);
    --ddbt: hsl(223, 31%, 20%);
    --ddbs: hsl(224, 36%, 15%);
    /* Keys */
    --dbkb: hsl(225, 21%, 49%);
    --dbks: hsl(224, 28%, 35%);
    --red: hsl(6, 63%, 50%);
    --darkred: hsl(6, 70%, 34%);
    --lgorange: hsl(30, 25%, 89%);
    --gorange: hsl(28, 16%, 65%);
    /* Text */
    --vdgblue: hsl(221, 14%, 31%);
    --whitehsl: (0, 0%, 100%);
}

body{
    /* width: 100%; */
    /* max-width: 1440px; */
	margin: 0;
    font-family: 'League Spartan', sans-serif;
    background: var(--ddbm);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body.active1{
	background-color: hsl(0, 0%, 90%);
}

body.active2{
	background-color: hsl(268, 75%, 9%);
}

.toggle{
	display: flex;
	justify-content: flex-end;
}

.toggle p{
	margin: 0 3px;
	color: #FFF;
	cursor: pointer;
	font-weight: 600;
}

.control{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.2rem;
}

.theme{
	display: flex;
	align-items: center;
}
 

.control .box{
	width: 60px;
	height: 15px;
	background-color: var(--ddbt);
	border-radius: 30px;
	margin-left: 4px;
	position: relative;
}

body.active1 .control .box{
	background-color: hsl(0, 5%, 81%);
}

body.active2 .control .box{
	background-color: hsl(268, 71%, 12%);
}

.control #circle{
	width: 15px;
	height: 15px;
	background-color: hsl(6, 63%, 50%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 30px;
}

body.active1 .control #circle{
	background-color: hsl(25, 98%, 40%);
}

body.active2 .control #circle{
	background-color: hsl(176, 100%, 44%);
}

.control p{
	color: #FFF;
	cursor: pointer;
	margin: 0;
	margin-top: 2px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
}

body.active1 .control p{
	color: hsl(60, 10%, 19%);
}
body.active1 .right p{
	color: hsl(60, 10%, 19%);
}
body.active2 .control p{
	color: hsl(52, 100%, 62%);
}
body.active2 .right p{
	color: hsl(52, 100%, 62%);
}

.right{
    display: flex;
    justify-content: space-between;
	gap: 9px;
}

body.active1 .toggle h3{
	color: #111;
}

h3{
	margin-left: 6px;
	padding: 0;
    color: #FFF;
}

body.active1 .control h3{
	color: hsl(60, 10%, 19%);
}

body.active2 .control h3{
	color: hsl(52, 100%, 62%);
}

.num{
    display: flex;
    justify-content: flex-end;
}

.num p{
    margin: 0px 5px;
    color: #FFF;
}

.screen{
    width: 456px;
}

#screen{
	font-family: 'League Spartan', sans-serif;
    width: 100%;
	height: 100px;
	margin: 10px 0;
	text-align: right;
	font-size: 40px;
	background-color: hsl(224, 36%, 15%);
	color: #FFF;
	border: 0;
	outline: none;
	border-radius: 7px;
	font-weight: 700;
}


body.active1 #screen{
	background-color: hsl(0, 0%, 93%);
	color: hsl(60, 10%, 19%);
}
body.active2 #screen{
	background-color: hsl(268, 71%, 12%);
	color: hsl(52, 100%, 62%);
}

.butt{
    display: flex;
	justify-content: space-between;
    width: 450px;
    flex-flow: wrap;
    background: var(--ddbt);
    padding: 10px 5px;
    margin: 15px 0;
	border-radius: 7px;
}

body.active1 .butt{
	background-color: hsl(0, 5%, 81%);
}

body.active2 .butt{
	background-color: hsl(268, 71%, 12%);
}

button{
	font-family: 'League Spartan', sans-serif;
    width: 90px;
    padding: 14px;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px var(--gorange);
    margin: 10px 10px;
    font-size: 32px;
	font-weight: 700;
	color: var(--vdgblue);
}

body.active1 button{
	color: hsl(60, 10%, 19%);
	box-shadow: 0px 3px 0px 0px hsl(35, 11%, 61%);
}
body.active2 button{
	box-shadow: 0px 3px 0px 0px hsl(290, 70%, 36%);
	background-color: hsl(268, 47%, 21%);
	color: hsl(52, 100%, 62%);
}

.reset, .del{
    box-shadow: 0px 3px 0px 0px hsl(185, 42%, 37%);
	background-color: hsl(185, 58%, 25%);
	color: #FFF;
	font-size: 24px;

}

body.active1 .reset, body.active1 .del{
	box-shadow: 0px 3px 0px 0px hsl(185, 58%, 25%);
	background-color: hsl(185, 42%, 37%);
}
body.active2 .reset, body.active2 .del{
	box-shadow: 0px 3px 0px 0px hsl(285, 91%, 52%);
	background-color: hsl(281, 89%, 26%);
	color: #fff;
}

.equal{
    box-shadow: 0px 3px 0px 0px var(--darkred);
    background-color: var(--red);
	padding: 15px;
	font-size: 24px;
}

body.active1 .equal{
	box-shadow: 0px 3px 0px 0px hsl(25, 99%, 27%);
	background-color: hsl(25, 98%, 40%);
}
body.active2 .equal{
	box-shadow: 0px 3px 0px 0px hsl(177, 92%, 70%);
	background-color: hsl(176, 100%, 44%);
	color: hsl(198, 20%, 13%);
}

.reset, .equal{
    width: 200px;
    color: #FFF;
}

.val{
    font-size: 32px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1rem;
}
